{{! app/templates/components/js-select.hbs}}

{{#if hasPrompt}}
	<option>{{prompt}}</option>
{{/if}}
{{#each renderedList key="@index" as |item|}}
	<option value="{{item.id}}" selected={{is-equal item.id selectedValue.id}}>
		{{item.name}}
	</option>
{{/each}}
