<label for="identification">{{userText}}:</label>
{{input type="text" value=username class="form-control" placeholder=userText}}
<label for="password">{{passwordText}}:</label>
{{input type='password' class="form-control" value=password placeholder=passwordText}}